* {
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eae7e7;
}

.menu {
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    gap: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px
}

.menu a {
    text-decoration: none;
    color: #0f3440;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.link a{
    text-decoration: none;
    color: white;
}

.menu a:hover {
    background-color: #0f3440;
    color: #ffffff;
}

.contenedor {
    display: flex;
    min-height: 100vh;
}

.lado-izquierdo {
    width: 65%;
    padding: 40px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px
}

.nombre {
    font-size: 28px;
    font-weight: bold;
}

.puesto {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.descripcion {
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}

.bloque {
    margin-bottom: 30px;
}

.titulo-seccion {
    font-weight: bold;
    margin-bottom: 15px;
}

.item {
    display: flex;
    margin-bottom: 15px;
}

.fecha {
    width: 120px;
    font-size: 12px;
    color: #666;
}

.contenido-item p {
    color: #555;
    font-size: 14px;
}

.lado-derecho {
    width: 35%;
    background: #0f3440;
    color: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px
}

.foto-contenedor {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 300px;
    height: auto;
    border-radius: 15px;
}

.bloque-oscuro {
    margin-bottom: 25px;
}

.titulo-blanco {
    font-weight: bold;
    margin-bottom: 10px;
}

.seccion-contacto {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.linea-contacto {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin: 0;
}

.linea-contacto svg {
    width: 18px;
    height: 18px;
    fill: white;
    flex-shrink: 0;
}

/* Reset básico */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor principal */
.skills {
    max-width: 600px;
    background-color: #ffffff;
    padding: 25px;
    margin: 40px auto;
    border-radius: 8px;
}

.skills h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #0a3c4a;
}
.skill {
    margin-bottom: 20px;
}
.skill-name {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #0a3c4a;
}
.skill-bar {
    width: 100%;
    height: 18px;
    background-color: #e6f2f7;
    border-radius: 10px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    background-color: #1e90ff;
    border-radius: 10px;
}

.skill-level.html {
    width: 90%;
}

.skill-level.css {
    width: 85%;
}

.skill-level.java {
    width: 70%;
}

.skill-level.python {
    width: 60%;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .lado-izquierdo,
    .lado-derecho {
        width: 100%;
    }
}